{% extends 'base.html' %} 
{% load static %}

{% block page_title %} My blog {% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/posts.css" %}">
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}

<section id="welcome">
  <header>
    <img src="{% static "blog/images/kana.png" %}" alt="Ray - The Author Of This Blog" />
    <h2>Razer's Blog</h2>
  </header>
  <p>
    Hi! I'm StarBurst Stream and I love to PK with the 76 floor monster, quick
    and quicker!
  </p>
</section>

<section id="latest-posts">
  <h2>My latest posts</h2>

  <ul>
    {% include "blog/includes/post.html" %}
  </ul>
</section>

<section id="about">
  <h2>What I DO</h2>
  <p>
    I love spending time with Busuna, she's the most shameless girl I've ever
    met. I want to mess up with her all day and make her lying on the bed
    with trembling.
  </p>
  <p>
    I will let Busuna be my wife and will let her be the happiest girl in the
    world. My Lil brother can't wait to see her and destroy her all day.
  </p>
</section>

{% endblock %}
